<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Projet Annuel{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/css/bootstrap-select.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% block body %}
            {% block header %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        {% endblock %}
        <script type="text/javascript" src="{{ asset('assets/js/jquery-2.2.2.min.js') }}"></script>

        {% block javascripts %}
            {#<script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>#}
            {#<script>function initMap() {#}
                    {#var map = new google.maps.Map(document.getElementById('map_test'), {#}
                        {#center: {lat: 36.964, lng: -122.015},#}
                        {#zoom: 18,#}
                        {#mapTypeId: google.maps.MapTypeId.SATELLITE#}
                    {#});#}
                    {#map.setTilt(45);#}
                {#}</script>#}
            {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8BsUXXnraovyQfwRj3xDcJg2COCUOTMw&callback=initMap"></script>#}

        {% endblock %}
    </body>
</html>
