{% extends 'ProjetAppBundle::layout.html.twig' %}

{% block content %}
    {#<aside id="aside">#}
        {#<ul class='tabs'>#}
            {#<li class="on" id='resultas' ><a href="#"><img src="{{ asset('assets/img/search.svg') }}"> Rechercher</a></li>#}
            {#<li id='infos' ><a href="#"><img src="{{ asset('assets/img/info.svg') }}"> Informations</a></li>#}
            {#<li id='help' ><a href="#"><img src="{{ asset('assets/img/help.svg') }}"> Aide</a></li>#}
        {#</ul>#}
    {#</aside>#}
    <div id="event-wrapper" class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Bonjour!</h1>

                {{ google_map(map) }}
            </div>
        </div>
        <div id="directionsPanel" style="float:right;width:30%;height 100%"></div>

    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            var mapInstance = {{ map.javascriptVariable }};
            var pos;
            var lat;
            var lng;
            var marker;
//            var request;
//            var oInfo = new google.maps.InfoWindow();
//            var direction = new google.maps.DirectionsService();
//            var directionsDisplay = new google.maps.DirectionsRenderer;
//            var contentString = "Marker";

            google.maps.event.addListener(
                    mapInstance,
                    'click',
                    setValue
            );

            function setValue(event) {
                lat = event.latLng.lat();
                lng = event.latLng.lng();
                pos = event.latLng;
                console.log(lat);
                console.log(lng);
                marker = new google.maps.Marker({
                    position: pos,
                    animation: google.maps.Animation.DROP,
                    map: mapInstance
                });

                $.ajax({
                    type: "POST",
                    data: {"lat": lat,"lng": lng},
                    url: "{{ url('projet_app_map_ajax') }}",
                    success: function (response, statut) {
                        console.log("SUCCESS " + response);
                    },
                    error: function (resultat, statut, erreur) {
                        console.log("ERREUR " + erreur + resultat);
                    }
                });

    //            directionsDisplay.setMap(mapInstance);
    //            directionsDisplay.setPanel(document.getElementById("directionsPanel"));
    //
    //
    //            google.maps.event.addListener(marker, 'click', function() {
    //                oInfo.setContent( "lol");
    //                oInfo.open(mapInstance, marker);
    //            });
    //
    //            direction.route(request, function(response, status) {
    //                if (status === google.maps.DirectionsStatus.OK) {
    //                    directionsDisplay.setDirections(response);
    //                } else {
    //                    window.alert('Directions request failed due to ' + status);
    //                }
    //            });
            }
        });

    </script>
{% endblock %}